{% extends "base.html" %}
{% load i18n %}
{% load crud_extras %}

{% block body %}
    <h2> {% trans "Class info:" %} </h2>

    <div class="divider"></div>

    <div class="section">
        <div class="row">
            <div class="col s1">
                <i class="material-icons medium"> class </i>
            </div>

            <div class="col s11">
                <p> <h4> {{ object|verbose_name:"name" }} </h4> </p>
                {{ object.name }}
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section">
        <div class="row">
            <div class="col s1">
                <i class="material-icons medium"> school </i>
            </div>

            <div class="col s11">
                <p> <h4> {% trans "Subjects" %} </h4> </p>

                <div class="collection z-depth-1">
                    {% for subject in object.subjects.all %}
                        <a href="{{ subject.get_absolute_url }}" class="collection-item"> {{ subject.name }} </a>
                    {% empty %}
                        {% trans "Empty list." %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section">
        <div class="row">
            <div class="col s1">
                <i class="material-icons medium"> people </i>
            </div>

            <div class="col s11">
                <p> <h4> {% trans "Students" %} </h4> </p>

                <table class="centered responsive-table striped z-depth-1">
                    <thead>
                        <th> {% trans "Name" %} </th>
                        {% for subject in object.subjects.all %}
                            <th> {{ subject.name }} </th>
                        {% endfor %}
                        <th> {% trans "Approved" %} </th>
                    </thead>

                    <tbody>
                        {% for student in object.students.all %}
                            <tr>
                                <td> <a href="{{ student.get_absolute_url }}"> {{ student.name }} </a> </td>
                                {% for grade in object.subjects.grades.all %}
                                    <td> {% partial_avg grades|student:student %} </td>
                                {% endfor %}
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
