{% extends "base.html" %}
{% load i18n %}
{% load crud_extras %}

{% block body %}
    <h2> {% trans "Class info:" %} </h2>

    <div class="divider"></div>

    <div class="section">
        <div class="row">
            <div class="col s1">
                <i class="material-icons medium"> class </i>
            </div>
            <div class="col s5">
                <p> <h4> {{ object|verbose_name:"name" }} </h4> </p>
                {{ object.name }}
            </div>

            <div class="col s1">
                <i class="material-icons medium"> today </i>
            </div>
            <div class="col s5">
                <p> <h4> {{ object|verbose_name:"year" }} </h4> </p>
                {{ object.year }}
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section">
        <div class="row">
            <div class="col s1">
                <i class="material-icons medium"> school </i>
            </div>

            <div class="col s11">
                <p> <h4> {% trans "Subjects" %} </h4> </p>

                <ul class="collection z-depth-1">
                    {% for subject in object.subjects.all %}
                        <li class="collection-item">
                            <div>
                                {{ subject.name }}
                                <a href="{% url 'subject_delete' object.id subject.id %}" class="secondary-content btn-floating btn-small red tooltipped" data-position="right" data-delay="50" data-tooltip="{% trans 'Delete this subject' %}" style="float:right; margin-top: -9px"> <i class="material-icons"> delete </i> </a>
                            </div>
                        </li>
                    {% empty %}
                        {% trans "Empty list." %}
                    {% endfor %}
                </ul>
            </div>

            <div class="right-align">
                <a href="{% url 'subject_register' object.id %}" class="btn-floating btn-large waves-effect waves-light green tooltipped" data-position="left" data-delay="50" data-tooltip="{% trans 'Add new subject' %}"> <i class="material-icons"> add </i> </a>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section">
        <div class="row">
            <div class="col s1">
                <i class="material-icons medium"> people </i>
            </div>

            <div class="col s11">
                <p> <h4> {% trans "Students" %} </h4> </p>

                <table class="centered responsive-table striped z-depth-1">
                    <thead>
                        <th> {% trans "Name" %} </th>
                        {% for subject in object.subjects.all %}
                            <th> {{ subject.name }} </th>
                        {% endfor %}
                        <th> {% trans "Approved" %} </th>
                    </thead>

                    <tbody>
                        {% for student in object.students.all %}
                            <tr>
                                <td> <a href="{{ student.get_absolute_url }}"> {{ student.name }} </a> </td>
                                {% for grade in object.subjects.grades.all %}
                                    <td> {% partial_avg grades|student:student %} </td>
                                {% endfor %}
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="right-align">
        <a href="{% back %}" class="waves-effect waves-light btn grey"> <i class="material-icons left"> chevron_left </i> {% trans "Back" %} </a>
        <a href="{% url 'class_update' object.id %}" class="waves-effect waves-light btn green"> <i class="material-icons left"> edit </i> {% trans "Edit" %} </a>
        <a href="{% url 'class_delete' object.id %}" class="waves-effect waves-light btn red"> <i class="material-icons left"> delete </i> {% trans "Delete" %} </a>
    </div>

    <br><br>
{% endblock %}
