{% extends "confirm_delete_base.html" %}
{% load i18n %}
{% load crud_extras %}

{% block header %} {% trans "Delete class" %} {% endblock %}

{% block card_title %} {% trans "Class info:" %} {% endblock %}

{% block card_content %}
    <p> {{ object|verbose_name:"name" }}: {{ object.name }} </p>
    <p> {{ object|verbose_name:"year" }}: {{ object.year }} </p>

    <ul class="collection with-header black-text">
        <li class="collection-header"> <p> {% trans "Subjects:" %} </p> </li>
        {% for subject in object.subjects.all %}
            <li class="collection-item"> {{ subject.name }} </li>
        {% empty %}
            <li class="collection-item"> {% trans "No subjects." %} </li>
        {% endfor %}
    </ul>
{% endblock %}
