{% extends "confirm_delete_base.html" %}
{% load i18n %}
{% load crud_extras %}

{% block header %} {% trans "Delete class" %} {% endblock %}

{% block card_title %} {% trans "Class info:" %} {% endblock %}

{% block card_content %}
    <p> {{ object|verbose_name:"name" }}: {{ object.name }} </p>

    <br>

    <p> {{ object|verbose_name:"year" }}: {{ object.year }} </p>

    <br>

    <p> {% trans "Subjects:" %} </p>
    <ul>
        {% for subject in object.subjects.all %}
            {{ subject.name }}
        {% empty %}
            {% trans "No subjects." %}
        {% endfor %}
    </ul>
{% endblock %}
