{% extends "base.html" %}
{% load i18n %}

{% block body %}
    <div class="section center-align">
        <h1>{% trans "Welcome to Hawkins!!!" %}</h1>
        <h3>{% trans "Please, select your action:" %}</h3>
    </div>

    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">person</i>{% trans "Manage Students" %}</div>
            <div class="collapsible-body">
                <span>
                    <a href="{% url 'student_register' %}"> {% trans "Register new student" %} </a>
                </span>
            </div>
            <div class="collapsible-body">
                <span>
                    <a href="{% url 'student_list' %}"> {% trans "Search for student" %} </a>
                </span>
            </div>
        </li>

        <li>
            <div class="collapsible-header"><i class="material-icons">class</i>{% trans "Manage classes" %}</div>
            <div class="collapsible-body">
                <span>
                    <a href="{% url 'class_register' %}"> {% trans "Register new class" %} </a>
                </span>
            </div>
            <div class="collapsible-body">
                <span>
                    <a href="{% url 'class_list' %}"> {% trans "Search for class" %} </a>
                </span>
            </div>
        </li>

        <li>
            <div class="collapsible-header"><i class="material-icons">list</i>{% trans "Other options" %}</div>
            <div class="collapsible-body">
                <span>
                    <a href="{% url 'settings' %}"> {% trans "Settings" %} </a>
                </span>
            </div>
        </li>
    </ul>

{% endblock %}
