{% extends "base.html" %}
{% load i18n %}
{% load crud_extras %}

{% block body %}
    <h2> {% trans "Student info:" %} </h4>

    <div class="divider"></div>

    <div class="section">
        <div class="row">
            <div class="col s1">
                <i class="material-icons medium"> account_circle </i>
            </div>
            <div class="col s5">
                <p> <h4> {{ object|verbose_name:"name" }} </h4> </p>
                    {{ object.name }}
            </div>

            <div class="col s1">
                <i class="material-icons medium"> phone </i>
            </div>
            <div class="col s5">
                <p> <h4> {{ object|verbose_name:"phone" }} </h4> </p>
                    {{ object.phone }}
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section">
        <div class="row">
            <div class="col s1">
                <i class="material-icons medium"> local_offer </i>
            </div>
            <div class="col s5">
                <p> <h4> {{ object|verbose_name:"registry" }} </h4> </p>
                    {{ object.registry }}
            </div>

            <div class="col s1">
                <i class="material-icons medium"> child_care </i>
            </div>
            <div class="col s5">
                <p> <h4> {{ object|verbose_name:"birth" }} </h4> </p>
                    {{ object.birth }}
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section">
        <div class="row">
            <div class="col s1">
                <i class="material-icons medium"> attach_file </i>
            </div>
            <div class="col s11">
                <p> <h4> {{ object|verbose_name:"document" }} </h4> </p>
                    {{ object.document }}
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section">
        <div class="row">
            <div class="col s1">
                <i class="material-icons medium"> insert_chart </i>
            </div>

            <div class="col s11">
                <h2> {% trans "Grades:" %} </h2>

                {% if object.classes.exists %}
                    <ul class="tabs">
                        {% for class in object.classes.all %}
                            <li class="tab col s2"> <a href="#{{ class.id }}" id="class"> {{ class.name }} </a> </li>
                        {% endfor %}
                    </ul>

                    {% for class in object.classes.all %}
                        <div class="col s12" id="{{ class.id }}" style="height: auto">
                            <table class="centered responsive-table striped">
                                <thead>
                                    <th> {% trans "Subject" %} </th>
                                    {% for i in class.regular_grades_num|times %}
                                        {# Translators: Abbreviation for grade #}
                                        <th> {% trans "G" %}{{ i }} </th>
                                    {% endfor %}
                                    {% for i in class.retake_grades_num|times %}
                                        {# Translators: Abbreviation for retake #}
                                        <th> {% trans "R" %}{{ i }} </th>
                                    {% endfor %}
                                    <th> {% trans "Partial" %} </th>
                                    <th> {% trans "Total" %} </th>
                                    <th> {% trans "Approved" %} </th>
                                </thead>

                                <tbody>
                                    {% for subject in class.subjects.all %}
                                        <tr>
                                            <td> {{ subject.name }} </td>
                                            {% for grade in object.grades.all|subject:subject %}
                                                <td> {{ grade.value|floatformat:2 }} </td>
                                            {% endfor %}
                                            <td> {% partial_avg subject.grades|student:object %} </td>
                                            {% total_avg subject.grades|student:object as total %}
                                            <td> {{ total }} </td>
                                            <td>
                                                {% if total >= class.avg %}
                                                    <i class="material-icons"> check </i>
                                                {% else %}
                                                    <i class="material-icons"> close </i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}

                {% else %}
                    <div class="col s12">
                        {% trans "Nothing to show." %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="right-align">
            <a id="edit_grades" class="waves-effect waves-light btn deep-orange darken-2"> <i class="material-icons left"> edit </i> {% trans "Edit grades" %} </a>
        </div>
    </div>

    <br><br>

    <div class="right-align">
        <a href="{% back %}" class="waves-effect waves-light btn grey"> <i class="material-icons left"> chevron_left </i> {% trans "Back" %} </a>
        <a href="{% url 'student_update' object.registry %}" class="waves-effect waves-light btn green"> <i class="material-icons left"> edit </i> {% trans "Edit" %} </a>
        <a href="{% url 'student_delete' object.registry %}" class="waves-effect waves-light btn red"> <i class="material-icons left"> delete </i> {% trans "Delete" %} </a>
    </div>

    <br><br>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('ul.tabs').tabs({
                swipeable : true,
                responsiveThreshold : 2000,
                onShow : change_href
            });
        });

        function change_href(cur_tab) {
            var school_class = cur_tab[0].id;
            var url = "/student/" + {{ object.registry }} + "/edit_grades/" + school_class;
            button = document.getElementById('edit_grades').href = url
        }
    </script>

{% endblock %}
