{% extends "form_base.html" %}
{% load i18n %}
{% load crud_extras %}

{% block header %} {% trans "New student" %} {% endblock %}
{% block sub_header %} {% trans "Insert information about the student here." %} {% endblock %}

{% block inputs %}
        {% if field.label == 'Full name' %}
            <i class="material-icons prefix"> account_circle </i>
        {% endif %}

        {% if field.label == 'Telephone number' %}
            <i class="material-icons prefix"> phone </i>
        {% endif %}

        {% if field.label == 'Registry' %}
            <i class="material-icons prefix"> local_offer </i>
        {% endif %}

        {% if field.label == 'Birth date' %}
            <i class="material-icons prefix"> child_care </i>
        {% endif %}

        {% if field.label == 'ID Document' %}
            <div class="file-field input-field">
                <div class="btn">
                    <span> {% trans "File" %} </span>
                    {{ field }}
                </div>
                <div class="file-path-wrapper">
                    <input type="text" class="file-path validate" placeholder="{{ field.label }}">
                </div>
            </div>
        {% endif %}

        {% if field.label != "ID Document" %}
            {{ field.label_tag }}
        {% endif %}

        {% if field.label == "Birth date" %}
            {{ field|addcss:"datepicker" }}
        {% elif field.label != "ID Document" %}
            {{ field }}
        {% endif %}
{% endblock %}
