{% extends "list_base.html" %}
{% load i18n %}
{% load crud_extras %}

{% block header %} {% trans "Student's list:" %} {% endblock %}

{% block table %}
    <thead>
        <th> {% trans "Name" %} </th>
        <th> {% trans "Registry" %} </th>
        <th> {% trans "Class" %} </th>
    </thead>

    <tbody>
        {% for student in object_list %}
            <div class="responsive-table centered highlight">
                <tr>
                    <td> <a href="{{ student.get_absolute_url }}"> {{ student.name }} </a> </td>
                    <td> {{ student.registry }} </td>
                    <td> {{ student.current_class }} </td>
                </tr>
            </div>
        {% empty %}
            <tr>
                <td> {% trans "Empty list." %} </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block new_btn_href %} {% url 'student_register' %} {% endblock %}
