{% extends "form_base.html" %}
{% load i18n %}
{% load crud_extras %}

{% block header %} {% trans "New student" %} {% endblock %}
{% block sub_header %} {% trans "Insert information about the student here." %} {% endblock %}

{% block inputs %}
        {% if field.name == 'name' %}
            <i class="material-icons prefix"> account_circle </i>
        {% endif %}

        {% if field.name == 'phone' %}
            <i class="material-icons prefix"> phone </i>
        {% endif %}

        {% if field.name == 'registry' %}
            <i class="material-icons prefix"> local_offer </i>
        {% endif %}

        {% if field.name == 'birth' %}
            <i class="material-icons prefix"> child_care </i>
        {% endif %}

        {% if field.name == 'document' %}
            <div class="file-field input-field">
                <div class="btn">
                    <span> {% trans "File" %} </span>
                    {{ field }}
                </div>
                <div class="file-path-wrapper">
                    <input type="text" class="file-path validate" placeholder="{{ field.label }}">
                </div>
            </div>
        {% endif %}

        {% if field.name != "document" %}
            {{ field.label_tag }}
        {% endif %}

        {% if field.name == "birth" %}
            {{ field|addcss:"datepicker" }}
        {% elif field.name != "document" %}
            {{ field }}
        {% endif %}
{% endblock %}
