{% extends "confirm_delete_base.html" %}
{% load i18n %}
{% load crud_extras %}

{% block header %} {% trans "Delete student" %} {% endblock %}

{% block card_title %} {% trans "Student info:" %} {% endblock %}

{% block warning %}
    {{ block.super }}
    <p> <strong> {% trans "Notice: ALL DATA ABOUT THIS STUDENT WILL BE LOST, INCLUDING ITS GRADES!!!" %} </strong> </p>
{% endblock %}

{% block card_content %}
    <p> {{ object|verbose_name:"name" }}:  {{ object.name }} </p>
    <p> {{ object|verbose_name:"registry" }}:  {{ object.registry }} </p>
{% endblock %}
