{% extends "base.html" %}
{% load i18n %}
{% load crud_extras %}

{% block body %}
    <h4> {% block header %} {% endblock %} </h4>
    <h5> {% block sub_header %} {% endblock %} </h5>

    <br>

    {% if form.errors %}
    <div class="card-panel red">
        {% trans "There are errors in your form. Please, correct them and try again." %}
    </div>
    <br><br>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div>
                        <span class="red-text"> {{ error }} </span>
                    </div>
                {% endfor %}
            {% endif %}

            {% block custom_inputs %}
                <div class="input-field">
                    {% block inputs %} {# Code for each input #} {% endblock %}
                </div>
            {% endblock %}
        {% endfor %}

        <br><br>
        <div class="right-align">
            <a href="{% back %}" class="waves-effect waves-light btn grey"> <i class="material-icons left"> chevron_left </i> {% trans "Back" %} </a>
            <button type="submit" class="waves-effect waves-light btn" value="Submit"> <i class="material-icons right"> save </i> {% trans "Save" %} </button>
        </div>
    </form>
    <br><br>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

    <script type="text/javascript">
        $('.datepicker').pickadate({
            max: new Date(),
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 100, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false, // Close upon selecting a date,
            format: 'mm/dd/yy'
        });
    </script>
{% endblock %}
