{% extends "base.html" %}
{% load i18n %}

{% block body %}
    <div class="section center-align">
        <h1>{% trans "Welcome to Hawkins!!!" %}</h1>
        <h3>{% trans "Please, select your action:" %}</h3>
    </div>

    <div class="section">
        <table class="highlight">
            <tbody>
                <tr>
                    <td>
                        <a href="{% url 'students' %}"> {% trans "Manage students" %} </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'classes' %}"> {% trans "Manage classes" %} </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'settings' %}"> {% trans "Settings" %} </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
